version: '3.8'

services:
  fotoserver:
    build: .
    container_name: fotoserver
    volumes:
      - ./images:/app/images
      - ./logs:/app/logs
    restart: unless-stopped
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: fotoserver_nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./images:/app/images:ro
    restart: unless-stopped
    depends_on:
      - fotoserver